.card-header{
  vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd){
  background-color: #f9f9f9;
}
.table-hover>tbody>tr:hover {
  background-color: #f5f5f5;
}
.card-block .table > thead > tr > th:first-child,.card-block .table > tbody > tr > td:first-child{
  padding-left: 15px;
}

.card-block .table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: #9A9A9A;
  font-weight: 400;
  padding-bottom:  5px;
  padding-left: 8px;
  border-top: 0;
}
.card-block .table > tbody > tr > td {
  border-top: 1px solid #ddd;
  font-size: 14px;
  padding: 12px 8px;
}
.card-search{
  max-width: 240px;
}
.card-search .input-group .form-control{
  padding-top: 10px;
  font-size: 14px;
}
.card-search .input-group .input-group-addon{
  font-size: 16px;
}
