<div class="content">
  <div class="container-fluid">

    <div class="row animated fadeInLeftBig">
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-orange text-center"><i class="ti-shopping-cart"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Products</p> {{ statistics[0].products.size }}</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> {{ statistics[0].products.updated_at }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-celestial text-center"><i class="ti-user"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Users</p>  {{ statistics[0].users.size }}</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> {{ statistics[0].users.updated_at }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-green text-center"><i class="ti-wallet"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Buys</p> {{ statistics[0].buys.size }} </div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> {{ statistics[0].buys.updated_at }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-red text-center"><i class="ti-pulse"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Errors</p> {{ statistics[0].mistakes.size }}</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> {{ statistics[0].mistakes.updated_at }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row animated fadeInLeftBig">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Latest products added</div>
          <div class="card-block card-nopadding">
            <table class="table">
              <tr *ngFor="let product of lastProducts;">
                <td class="text-center"><i class="ti-mobile"></i></td>
                <td>{{ product.title }}</td>
                <td class="text-center"><span class="badge badge-pill badge-info">{{ product.created_at }}</span></td>
                <td class="text-center"><a href="product/1" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a></td>
              </tr>
            </table>
          </div>
          <div class="card-footer">
            <hr>
            <div class="footer-title">Add new product</div>
            <div class="float-right">
              <button class="btn btn-info btn-fill btn-icon btn-sm">
                <i class="ti-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Last mistakes
            <div class="card-title">Errors produced on the web</div>

          </div>
          <div class="card-block card-nopadding">
            <table class="table">
              <tbody>
                <tr *ngFor="let mistake of lastMistakes;">
                  <td class="text-center">#{{ mistake.id }}</td>
                  <td>{{ mistake.title }}</td>
                  <td class="text-center"><span class="badge badge-pill badge-info">{{ mistake.created_at }}</span></td>
                  <td class="text-center">
                    <span class="badge badge-pill"
                          [ngClass]="{'badge-danger': mistake.state == 'pending',
                                      'badge-success': mistake.state == 'fixed',
                                      'badge-warning': mistake.state == 'fixing'}">{{ mistake.state}}</span></td>
                  <td class="text-center"><a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <hr>
            <div class="footer-title">Add a new error</div>
            <div class="float-right">
              <button class="btn btn-info btn-fill btn-icon btn-sm">
                <i class="ti-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
