a:hover{
  text-decoration: none;
}
.icon-big{
  font-size: 46px;
}
.icon-orange{
  color: #f3b246;
}
.icon-celestial{
  color: #68B3C8;
}
.icon-green{
  color: #66c296;
}
.icon-red{
  color: #dd0629;
}
.numbers{
  text-align: right;
  font-size: 2em;
  font-weight: 300;
}
.numbers p{
  font-size: 16px;
  margin: 0;
  line-height: 1.4em;
}
.card-header{
  background-color: #fff;
  border-bottom: none;
  margin: 0;
  color: #333333;
  font-size: 18px;
  font-weight: 300;
}
.card-header .card-title{
  font-size: 13px;
  font-weight: 400;
  color: #9A9A9A;
  margin-bottom: 0;
}
.card-block .table td{
  font-size: 13px;
}
.card-nopadding{
  padding: 0;
}
.card-footer{
  border-top: none;
  background-color: #fff;
  padding-top: 0;
}
.card-footer hr{
  margin: 10px 0;
}
.card-footer .stats{
  color: #a49e93;
  font-weight: 300;
  font-size: 14px;
}

.tooltip-hover{
  position: relative;
}
.tooltip-hover:before{
  position: absolute;
  top: 0;
  left: 0;
  background: #444;
  border-radius: 8px;
  color: #fff;
  margin-top: -25px;
  margin-left: -20px;
  content: attr(tooltip-msg);
  font-size: 10px;
  padding: 2px;
  text-align: center;
  width: 60px;
  opacity: 0;
  transition: all 350ms ease-in;
}
.tooltip-hover:hover:before{
  opacity: 1;
  margin-top: -20px;
}
