<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-orange text-center"><i class="ti-shopping-cart"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Products</p> 300</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> Updated now</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-celestial text-center"><i class="ti-user"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Users</p> +10</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> In the last hour</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-green text-center"><i class="ti-wallet"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Buys</p> 1000</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> In the last hour</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-red text-center"><i class="ti-pulse"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Errors</p> 56</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> In the last hour</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Latest products added</div>
          <div class="card-block card-nopadding">
            <table class="table">
              <tr>
                <td class="text-center">
                 <i class="ti-mobile"></i>
                </td>
                <td>
                  Celular Motorola 4G liberado 16GB
                </td>
                <td>
                  <span class="badge badge-pill badge-info">an hour ago</span>
                </td>
                <td class="text-center"><a href="product/1" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a></td>
              </tr>
              <tr>
                <td class="text-center">
                  <i class="ti-mobile"></i>
                </td>
                <td>
                  Celular Motorola 4G liberado 16GB
                </td>
                <td>
                  <span class="badge badge-pill badge-info">an hour ago</span>
                </td>
                <td class="text-center"><a href="product/2" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a></td>
              </tr>
              <tr>
                <td class="text-center">
                  <i class="ti-mobile"></i>
                </td>
                <td>
                  Celular Motorola 4G liberado 16GB
                </td>
                <td>
                  <span class="badge badge-pill badge-info">an hour ago</span>
                </td>
                <td class="text-center">
                  <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <i class="ti-mobile"></i>
                </td>
                <td>
                  Celular Motorola 4G liberado 16GB
                </td>
                <td>
                  <span class="badge badge-pill badge-info">an hour ago</span>
                </td>
                <td class="text-center">
                  <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <i class="ti-mobile"></i>
                </td>
                <td>
                  Celular Motorola 4G liberado 16GB
                </td>
                <td>
                  <span class="badge badge-pill badge-info">an hour ago</span>
                </td>
                <td class="text-center">
                  <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <i class="ti-mobile"></i>
                </td>
                <td>
                  Celular Motorola 4G liberado 16GB
                </td>
                <td>
                  <span class="badge badge-pill badge-info">an hour ago</span>
                </td>
                <td class="text-center">
                  <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
                </td>
              </tr> <tr>
              <td class="text-center">
                <i class="ti-mobile"></i>
              </td>
              <td>
                Celular Motorola 4G liberado 16GB
              </td>
              <td>
                <span class="badge badge-pill badge-info">an hour ago</span>
              </td>
              <td class="text-center">
                <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
              </td>
            </tr> <tr>
              <td class="text-center">
                <i class="ti-mobile"></i>
              </td>
              <td>
                Celular Motorola 4G liberado 16GB
              </td>
              <td>
                <span class="badge badge-pill badge-info">an hour ago</span>
              </td>
              <td class="text-center">
                <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
              </td>
            </tr> <tr>
              <td class="text-center">
                <i class="ti-mobile"></i>
              </td>
              <td>
                Celular Motorola 4G liberado 16GB
              </td>
              <td>
                <span class="badge badge-pill badge-info">an hour ago</span>
              </td>
              <td class="text-center">
                <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
              </td>
            </tr> <tr>
              <td class="text-center">
                <i class="ti-mobile"></i>
              </td>
              <td>
                Celular Motorola 4G liberado 16GB
              </td>
              <td>
                <span class="badge badge-pill badge-info">an hour ago</span>
              </td>
              <td class="text-center">
                <a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a>
              </td>
            </tr>






            </table>
          </div>
          <div class="card-footer">
            <hr>
            <div class="footer-title">Add new product</div>
            <div class="float-right">
              <button class="btn btn-info btn-fill btn-icon btn-sm">
                <i class="ti-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Last mistakes
            <div class="card-title">Errors sent by users</div>

          </div>
          <div class="card-block card-nopadding">
            <table class="table">
              <tbody>
                <tr></tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
