<div class="row animated fadeInLeftBig">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">Add a new product</div>
      <div class="card-block">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="form-control-label" for="title">Title</label>
                <div class="form-icon-error" *ngIf="formErrors.title">
                  <div class="form-icon animated fadeIn"><i class="ti-alert"></i></div>
                  <div class="message animated fadeInDown">{{ formErrors.title }}</div>
                </div>
                <input formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label" for="title">Price</label>
                <div class="form-icon-error" *ngIf="formErrors.price">
                  <div class="form-icon animated fadeIn"><i class="ti-alert"></i></div>
                  <div class="message animated fadeInDown">{{ formErrors.price }}</div>
                </div>
                <input formControlName="price" type="text" class="form-control" id="price" placeholder="Price">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label" for="description">Description</label>
                <div class="form-icon-error" *ngIf="formErrors.description">
                  <div class="form-icon animated fadeIn"><i class="ti-alert"></i></div>
                  <div class="message animated fadeInDown">{{ formErrors.description }}</div>
                </div>
                <textarea [froalaEditor]="optionsEditor" formControlName="description" class="form-control" id="description" placeholder="Description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label class="form-control-label" for="category">Category</label>
                <div class="form-icon-error" *ngIf="formErrors.category">
                  <div class="form-icon animated fadeIn"><i class="ti-alert"></i></div>
                  <div class="message animated fadeInDown">{{ formErrors.category }}</div>
                </div>
                <select formControlName="category"
                        class="form-control"  id="category">
                  <option value="" [selected]="!product.category">Select category</option>
                  <option *ngFor="let category of categorys" [value]="category.id">{{ category.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="form-control-label" for="mark">Mark</label>
                <div class="form-icon-error" *ngIf="formErrors.mark">
                  <div class="form-icon animated fadeIn"><i class="ti-alert"></i></div>
                  <div class="message animated fadeInDown">{{ formErrors.mark }}</div>
                </div>
                <select formControlName="mark"
                        class="form-control"  id="mark">
                  <option value="" [selected]="!product.mark">Select mark</option>
                  <option *ngFor="let mark of marks" [value]="mark.id">{{ mark.name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="form-control-label" for="stock">Stock</label>
                <div class="form-icon-error" *ngIf="formErrors.stock">
                  <div class="form-icon animated fadeIn"><i class="ti-alert"></i></div>
                  <div class="message animated fadeInDown">{{ formErrors.stock }}</div>
                </div>
                <input formControlName="stock" type="number" class="form-control" min="0" max="10000" id="stock" placeholder="Stock">
              </div>
            </div>
          </div>
          <button type="submit" [routerLink]="['/products']" class="btn btn-danger float-left">Go back</button>
          <button type="submit" [disabled]="!form.valid || !form.dirty" (click)="save()" class="btn btn-info float-right">Save changes</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
