<div class="row animated fadeInLeft">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-9 col-sm-6">List of users
            <div class="float-right alert alert-danger animated fadeInLeft" *ngIf="message.status"> {{ message.content }}</div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="card-search float-right">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Search user..." [(ngModel)]="searchValue" name="searchValue" (keyup.enter)="search()" (blur)="search()" >
                <span class="input-group-addon"><i class="pe-7s-search"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block card-nopadding">
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Document</th>
            <th>Country</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let users of listUsers;" class="animated fadeIn">
            <td>{{ users.id }}</td>
            <td>{{ users.firstname }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.document }}</td>
            <td><span class="flag flag-{{ users.country }}"></span></td>
            <td class="text-center"><a [routerLink]="['edit', users.id]" tooltip-msg="Edit user" class="tooltip-hover"><i class="ti-pencil-alt text-info"></i></a></td>
            <td class="text-center"><a (click)="delete(users.id)" tooltip-msg="Delete user" class="tooltip-hover"><i class="ti-trash text-danger"></i></a></td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="loading" class="loading"> <img src="../../../assets/img/loading.gif" /></div>
      </div>
    </div>
  </div>
</div>
