<div class="card-header">My account <small class="card-title">(See your history in the admin)</small></div>
<div class="card-block card-nopadding">
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Device</th>
      <th class="text-center">IP</th>
      <th class="text-center">State</th>
      <th class="text-center">Date</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of historySessions">
        <td>{{ session.device }}</td>
        <td class="text-center">{{ session.ip }}</td>
        <td class="text-center" *ngIf="session.activate == 0"><span class="badge badge-pill badge-danger">Disconnected</span></td>
        <td class="text-center" *ngIf="session.activate != 0"><span class="badge badge-pill badge-success">Connected</span></td>
        <td class="text-center">{{ session.created_at | time:'date'}}</td>
      </tr>
  </table>
</div>
