<div class="card-header">My account <small class="card-title">(These are your permissions in the admin, you can only edit this if you are superadmin)</small></div>
<div class="card-block animated fadeIn">
  <ul class="list-group">
    <li class="list-group-item justify-content-between">
      Permission for edit users
     </li>
    <li class="list-group-item justify-content-between">
      Permission for delete users
     </li>
    <li class="list-group-item justify-content-between">
      Permission for edit and add products
      </li>
    <li class="list-group-item justify-content-between">
      Permission for delete products
      </li>
    <li class="list-group-item justify-content-between">
      Permission for edit and add mistakes
     </li>
    <li class="list-group-item justify-content-between">
      Permission for delete mistakes
      </li>
  </ul>
</div>
