<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{ getTittle() }}</a>
  <div class="collapse navbar-collapse" id="navbarText">

        <form class="navbar-form mr-auto navbar-left navbar-search-form" role="search">
          <div class="input-group">
            <input class="form-control" placeholder="Search..." type="text" value="">
            <span class="input-group-addon"><i class="pe-7s-search"></i></span>
          </div>
        </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="pe-7s-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" [routerLink]="['account']">My account</a>
          <a class="dropdown-item" [routerLink]="['account/config']">Config</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="pe-7s-bell"></i>
          <span class="notification hidden-sm hidden-xs">3</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">notification 1</a>
          <a class="dropdown-item" href="#">notification 2</a>
          <a class="dropdown-item" href="#">notification 3</a>
        </div>
      </li>

    </ul>
  </div>
</nav>
