.icon-big{
  font-size: 46px;
}
.icon-orange{
  color: #f3b246;
}
.icon-celestial{
  color: #68B3C8;
}
.icon-green{
  color: #66c296;
}
.icon-red{
  color: #dd0629;
}
.numbers{
  text-align: right;
  font-size: 2em;
  font-weight: 300;
}
.numbers p{
  font-size: 16px;
  margin: 0;
  line-height: 1.4em;
}

td > span.badge{
  font-weight: 300;
  padding: 4px 6px;
}
.card-block .table td{
  font-size: 13px;
  vertical-align: middle;
}
.pagination{
  margin: 0 20px;
  margin-bottom: 10px;
}
