<div class="content">
  <div class="container-fluid">

    <div class="row animated fadeInLeftBig">
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-orange text-center"><i class="ti-shopping-cart"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Products</p> {{ statistics.products }}</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> -</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-celestial text-center"><i class="ti-user"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Users</p>  {{ statistics.users }}</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> - </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-green text-center"><i class="ti-wallet"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Buys</p> {{ statistics.buys }} </div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> - </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-5"><div class="icon-big icon-red text-center"><i class="ti-pulse"></i></div></div>
              <div class="col-7"><div class="numbers"><p>Errors</p> {{ statistics.mistakes }}</div></div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="ti-reload"></i> - </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row animated fadeInLeftBig">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Latest products added</div>
          <div class="card-block card-nopadding">
            <table class="table">
              <tr *ngFor="let product of lastProducts;">
                <td class="text-center"><i class="fa {{ product.category.icon }}"></i></td>
                <td>{{ product.title }}</td>
                <td class="text-center"><span class="badge badge-pill badge-info">{{ product.created_at.timestamp | time }}</span></td>
                <td class="text-center"><a [routerLink]="['/admin/products/edit', product.id]" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a></td>
              </tr>
            </table>
          </div>
          <div class="card-footer">
            <hr>
            <div class="footer-title">Add new product</div>
            <div class="float-right">
              <a class="btn btn-info btn-fill btn-icon btn-sm" [routerLink]="['/admin/products/add']">
                <i class="ti-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Mistakes<div class="card-title">Errors produced on the web</div>
          </div>
          <div class="card-block card-nopadding">
            <table class="table">
              <tbody>
                <tr *ngFor="let mistake of pagedMistakes;">
                  <td>{{ mistake.title }}</td>
                  <td class="text-center"><span class="badge badge-pill badge-info">{{ mistake.created_at | time:'date' }}</span></td>
                  <td class="text-center">
                    <span class="badge badge-pill"
                          [ngClass]="{'badge-danger': mistake.status == 1,
                                      'badge-warning': mistake.status == 2,
                                      'badge-success': mistake.status == 3}">{{ mistake.status | status}}</span></td>
                  <td class="text-center"><a href="" tooltip-msg="See more" class="tooltip-hover"><i class="ti-eye"></i></a></td>
                </tr>
              </tbody>
            </table>
            <ul *ngIf="pagerMistakes.pages && pagerMistakes.pages.length" class="pagination float-right">
              <li class="page-item" [ngClass]="{disabled:pagerMistakes.currentPage === 1}">
                <a class="page-link" (click)="setPageMistakes(pagerMistakes.currentPage - 1)">&laquo;</a>
              </li>
              <li class="page-item" *ngFor="let page of pagerMistakes.pages" [ngClass]="{active:pagerMistakes.currentPage === page}">
                <a class="page-link" (click)="setPageMistakes(page)">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:pagerMistakes.currentPage === pagerMistakes.totalPages}">
                <a class="page-link" (click)="setPageMistakes(pagerMistakes.currentPage + 1)">&raquo;</a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
