.card-header{
  vertical-align: middle;
}
.card-search{
  max-width: 240px;
}
.card-search .input-group .form-control{
  padding-top: 10px;
  font-size: 14px;
}
.card-search .input-group .input-group-addon{
  font-size: 16px;
}
.card-block .table > thead > tr > th:first-child {
  width: 8%;
}
.card-block .table > thead > tr > th:nth-child(2){
  width: 15%;
}
.card-block .table > thead > tr > th:nth-child(3){
  width: 30%;
}
.card-block .table > thead > tr > th:nth-child(4){
  width: 15%;
}
.card-block .table > thead > tr > th:nth-child(5){
  width: 15%;
}
.card-block .table > thead > tr > th:nth-child(6),.card-block .table > thead > tr > th:nth-child(7){
  width: 5%;
}

.flag{
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 2em auto;
  padding: 0.8em 1em 0.8em 4em;
}
.flag-ar{
  background-image: url("../../../../assets/img/flags/ar.svg");
}
.flag-bo{
  background-image: url("../../../../assets/img/flags/bo.svg");
}
.flag-br{
  background-image: url("../../../../assets/img/flags/br.svg");
}
.flag-cl{
  background-image: url("../../../../assets/img/flags/cl.svg");
}
.flag-co{
  background-image: url("../../../../assets/img/flags/co.svg");
}
.flag-ec {
  background-image: url("../../../../assets/img/flags/ec.svg");
}
.flag-mx{
  background-image: url("../../../../assets/img/flags/mx.svg");
}
.flag-pe{
  background-image: url("../../../../assets/img/flags/pe.svg");
}
.flag-py{
  background-image: url("../../../../assets/img/flags/py.svg");
}
.flag-uy {
  background-image: url("../../../../assets/img/flags/uy.svg");
}
.flag-ve{
  background-image: url("../../../../assets/img/flags/ve.svg");
}

@media (max-width:680px){
  .card-block .table > thead > tr > th:nth-child(5), .card-block .table > tbody > tr > td:nth-child(5),
  .card-block .table > thead > tr > th:nth-child(4), .card-block .table > tbody > tr > td:nth-child(4){
    display: none;
  }

}
