<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header"> My account</div>
          <div class="card-block"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card user-profile">
          <div class="card-header">
          </div>
          <div class="card-block">
            <div class="avatar">
              <img src="../../../assets/img/users/user-avatar.png" class="img-thumbnail" alt="">
              <span> Marcos Gin </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
